button, div, p, ul, li {
  
  font-family: Helvetica, sans-serif, Arial;
  font-size: 15px;
  color: #5A5A5A;
}

h1, h2, h3, h4, h5, h6 {

  padding: 0px;
  margin: 0px;
  color: #5A5A5A;
}

input, button {

  margin-top: 10px;
  margin-bottom: 10px;
}

button:hover {

  box-shadow: 2px 2px #DCDCDC;
}

.main_button {

  font-weight: bold;
  background-color: #F0F0F0;
}

/* --- Header and page title --- */

.page_title_header {

  height: 40px;
  width: 100%;
  background-color: #91CBF3;
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.page_title {

  font-size: 20px;
  font-weight: bolder;
  margin-left: 10px;
}

.profile_image {

  margin: 20px;
  width: 200px;
  height: 200px;
}

/* --- Homepage --- */

.homepage_image {

  width: 180px;
  height: 180px;
}

@media screen and (min-width: 768px) {

  .homepage_title {

    position: absolute;
    top: 30px;
    margin-left: 200px;
    font-weight: bolder;
  }

  .homepage_subtitle {

    position: absolute;
    top: 65px;
    margin-left: 200px;
  }

  .homepage_logout, .homepage_addproject, .homepage_login {

    position: absolute;
    font-weight: bold;
    width: 150px;
    right: 20px;
    background-color: #F0F0F0;   
  }

  .homepage_addproject {  top: 90px;  }
  .homepage_logout {  top:40px; }
  .homepage_login { top: 65px;  }

}

@media screen and (max-width: 767px) {

  .homepage_title {

    text-align: center;
    margin-top: 20px;
    font-weight: bolder;
  }

  .homepage_subtitle {

    text-align: center;
    margin-top: 10px
  }

  .homepage_login, .homepage_logout, .homepage_addproject {

    font-weight: bold;
    background-color: #F0F0F0;
    margin-top: 20px;
    margin-bottom: 10px;
  }

}

/* --- Homepage projects --- */

.project_container {

  background-color: #FAFAFA;
  margin-top:10px;
  margin-bottom:20px;
  padding:20px;
  border-radius: 10px;
}

.project_image_container {

  text-align: center;
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 10px;
}

.project_image {

  max-height: 150px;
  max-width: 180px;
}

.project_tech {

  margin-top: 10px;
  margin-bottom: 10px;
  font-style: italic;
}

.description_container {

  margin-top: 10px;
  background-color: #FFFFFF;
  width: 100%;
  border-radius: 10px;
  padding: 14px;
}

.remove_cross {

  width: 25px;
  height: 25px;
  cursor: pointer;
}

@media screen and (max-width: 992px) {

  .project_title {

    margin-left: 5px;
    font-size: 25px;
    font-weight: bolder;
    margin-top: 10px;
  }

  .project_tech { margin-left: 5px; }
  .project_date { margin-top: 20px; }
  .remove_cross { margin-top: 20px; }

  .project_date {

    position: absolute;
    right: 120px;
  }
}

@media screen and (max-width: 768px) {

  .project_date {

    position: static;
    margin-right: 120px;
  }

  .remove_cross {

    position: absolute;
    top: 0px;
    right: 20px;
  }
}

@media screen and (min-width: 993px) {


  .project_title {

    font-size: 25px;
    font-weight: bolder;
  }

  .project_date {

    width: 100%;
    position: absolute;
    right: 60px;
  }

  .remove_cross {

    position: absolute;
    top: 0px;
    right: 20px;
  }
}

/* --- Page navigation --- */

.nav_container { margin-top: 20px; }

.nav_image {

  width: 80px;
  height: 80px;
}

.nav_image:hover {  cursor: pointer; }
.nav_title {  font-weight: bolder; }

.nav_title:hover {

  cursor: pointer;
  color: #91CBF3;
}

.nav_button {

  font-weight: bold;
  background-color: #F0F0F0;
}

@media screen and (min-width: 768px) {

  .nav_title {

    position: absolute;
    top: 30px;
    margin-left: 90px;
    font-weight: bolder;
  }

  .nav_button {

    position: absolute;
    width: 150px;
    right: 20px;
    top: 15px;
  }

}

@media screen and (max-width: 767px) {

  .nav_container {  text-align: center; }

  .nav_image {  text-align: center; }

  .nav_title {

    text-align: center;
    margin-top: 10px;
  }
}

/* --- Login --- */

.login_title {

  font-size: 20px;
  font-weight: bolder;
  margin: 10px;
}