@import 'utility';

/* --- Project: Hobby designs --- */

.hobby_icon_selection {

  width: 50%;
  height: 50%;
  border-radius: 10px;
  margin: 10px;
}

.hobby_homepage_image {

  border: 1px solid $light-grey;
  border-radius: 10px;
  width: 75%;
  height: 100%;
  margin: 10px;
}