/*  --- Colours ---  */
$grey : #5A5A5A;
$light-grey : #F0F0F0;
$very-light-grey : #FAFAFA;
$shadow-grey : #DCDCDC;
$blue : #91CBF3;
$white : #FFFFFF;

/* --- Font --- */
$font-stack : Helvetica, sans-serif, Arial;

/* --- Page sizes (Same as bootstrap grid sizing) --- */
$extra-small-page: 768px;
$small-page: 768px;
$medium-page: 992px;
$large-page: 1200px;