@import 'utility';

/* --- Base --- */

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

button, div, p, ul, li {
  
  font-family: $font-stack;
  font-size: 15px;
  color: $grey;
}

textarea {  resize: none; }

a { 
  color: $grey; 
  cursor: pointer;

  &:hover {
      text-decoration: none;
      color: $blue;
  }
}

p { margin: 10px;}

h1, h2, h3, h4, h5, h6 {

  padding: 0px;
  margin: 0px;
  color: $grey;
}

input, textarea {

  margin-top: 10px;
  margin-bottom: 10px;
}

button {

  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold !important;
  background-color: $light-grey !important;

  &:hover {
    box-shadow: 2px 2px $shadow-grey;
  }
}