@import 'utility';

/* --- Header and page title --- */

.page_title_header {

  height: 40px;
  width: 100%;
  background-color: $blue;
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.page_title {

  font-size: 20px;
  font-weight: bolder;
  margin-left: 10px;
}

.profile_image {

  margin: 20px;
  width: 200px;
  height: 200px;
}

/* --- Page navigation --- */

.nav_container { 

  margin-top: 20px; 

  @media screen and (max-width: $small-page) {

    text-align: center;
  }
}

.nav_image {

  width: 80px;
  height: 80px;
  
  @media screen and (max-width: $small-page) {

    text-align: center;
  }

  &:hover {  cursor: pointer; }
}

.nav_title {  
  
  font-weight: bolder; 

  @media screen and (min-width: $small-page) {

    position: absolute;
    top: 30px;
    margin-left: 90px;
    font-weight: bolder;
  }

  @media screen and (max-width: $small-page) {

    text-align: center;
    margin-top: 10px;
  }


  &:hover {

    cursor: pointer;
    color: $blue;
  }
}

.nav_button {

  @media screen and (min-width: $small-page) {

    position: absolute;
    width: 150px;
    right: 20px;
    top: 15px;
  }
}